@model IEnumerable<TodoList.Models.TodoItemModel>

@{
    ViewData["Title"] = "Home Page";
}

<h1>All items</h1>

<ul>
    @foreach (var todoItem in Model)
    {
        <li>
            @todoItem.Description
            &nbsp;
            @if (todoItem.Completed) 
            {
                @:COMPLETE    
            }
            else
            {
                @:INCOMPLETE
            }
        </li>
    }
</ul>
